* {
  box-sizing: border-box;
}

body {
  background-color: #4D4D4D;
  background-image: url(images/ninjabg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:fixed;
  /* //background-position: fixed; */
}

.container {
  display:flex;
  height:100%;
  
}
header {
  margin-top: 4rem;
  margin-bottom: 2rem;
  height:4rem;
}
main {
  width:60%;
  /* background: linear-gradient(to bottom, #2a2a2b 0%, #dfe2e2 100%); */
}
aside {
  width:35%;
  background-color: blanchedalmond;
}
.row {
  display: flex;
  width:100%;
  justify-content: center;
}
.btn-home {
  background-image: url(images/homeIcon.png); 
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: left; 
  /*img: url(images/hut.png);*/
  /* float:left; */
  color: white;
  background-color: #4D4D4D;
  height: 2rem;
  font-size: 1rem;
  font-weight: 200;
}
.avatar {
display: flex;
background-color: #555757;
height: 20rem;
flex-wrap: wrap;
justify-content: center;
padding-top: 2rem;
border: 1px solid white;
}

.avatarNinja {
  width:30%;
  height:6rem;
  /* border: 1px solid white; */
  /* margin: 0 10px 0 10px; */
}

.avatarPlayer {
  width:30%;
  height:6rem;
  /* border: 1px solid white; */
  margin: 0 30px 0 50px;
}
.avatarNaruto {
  background-image: url(images/naruto.png);
  background-repeat: no-repeat;
  background-position: center;
}
.avatarSasuke {
  background-image: url(images/sasuke.png);
  background-repeat: no-repeat;
  background-position: center;
}
.avatarHinata {
  background-image: url(images/hinata.png);
  background-repeat: no-repeat;
  background-position: center;
}
.avatarGaara {
  background-image: url(images/gaara.png);
  background-repeat: no-repeat;
  background-position: center;
}
.avatarSakura {
  background-image: url(images/sakura.png);
  background-repeat: no-repeat;
  background-position: center;
}
.avatarKakashi {
  background-image: url(images/kakashi.png);
  background-repeat: no-repeat;
  background-position: center;
}
.box {
  width:20%;
  height:5.5rem;
  justify-content: flex-start;
  border: 1px solid white;
  background-color: black;
}
.playerAvatarsContainer {
  display: flex;
  
  justify-content: flex-start; 
}
.playerOne {
  background-image: url(images/sasuke.png);
  background-repeat: no-repeat;
  background-position: center;
}
.player1 {
  /* //background-color: aqua; */
  background-image: url(images/tick.png);
  background-repeat: no-repeat;
  background-position: center;
}

.player2 {
  background-image: url(images/cross.png);
  background-repeat: no-repeat;
  background-position: center;
}

.result {
  color: #FF6600;
  text-align: center;
  font-size: 2rem;
  font-weight: 900;
}
.button {
  color: white;
  background:  linear-gradient(to bottom, #0a1316 0%, #555757 100%);
  width: 100%;
  height: 3rem;
  border-radius: 0;
  /* //border: 0.15rem solid orange; */
  font-size: 1rem;
  font-weight: 200;
  margin:10px 1px 5px 1px;
}
aside  {
  display: flex;
  flex-direction: column;
  justify-items: center;
 }
 aside div h1 {
  text-align: center;
 }

aside div ul li {
  list-style: none; 
  /* padding-right: 4rem; */
}

/*Taken from w3 website*/
player1 img:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s; 

  /* When the animation is finished, start again */
  animation-iteration-count: infinite; 
}


.ninjaNod {
 
  /* position: relative; */
  -webkit-animation-name: spin; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: spin;
  animation-duration: 2s;
  
}
@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

